@import "tailwindcss";
* {
  font-family: LeagueSpartan;
  /* margin: 0px;
  padding: 0px; */
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
@font-face {
  font-family: "LeagueSpartan";
  src: url("assets/font/League_Spartan/LeagueSpartan-VariableFont_wght.ttf");
}
:root {
  --primary: rgb(104, 0, 223);
  --secondary: rgb(143, 46, 255);
  --light: rgb(169, 104, 255);
  --dark: rgb(27, 16, 32);
}
.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-light {
  color: var(--light);
}

.text-dark {
  color: var(--dark);
}

a {
  text-decoration: none;
}
body {
  background-color: black;
}
#root {
  /* position: ; */
  top: 0px;
  left: 0px;
  /* width: 100dvw; */
  height: 100dvh;
  background: black;
}

/* .about {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  overflow: hidden;
} */

.about-container {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}

.skill-swiper {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(255, 255, 255, 0));
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
    z-index: 2;
    background: linear-gradient(to left, rgb(0, 0, 0), rgba(255, 255, 255, 0));
  }
}
