@import "tailwindcss";
@font-face {
  font-family: "LeagueSpartan";
  src: url("assets/font/League_Spartan/LeagueSpartan-VariableFont_wght.ttf");
}
:root {
  --primary: rgb(97, 0, 138);
  --secondary: rgb(179, 0, 255);
  --light: rgb(239, 202, 255);
  --dark: rgb(27, 16, 32);
}
* {
  font-family: LeagueSpartan;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  background-color: black;
}
#root {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100dvw;
  height: 100dvh;
  background: black;
}
