.nav {
  width: 90%;
  max-width: fit-content;
  display: flex;
  position: fixed;
  overflow: hidden;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 0%);
  background: rgba(255, 255, 255, 0.001);
  box-shadow: inset 2px 2px 4px 0px rgba(255, 255, 255, 0.308),
    0px 0px 5px 5px rgba(0, 0, 0, 0.308);
  border-radius: 7px;
  backdrop-filter: blur(30px);
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 10;
}

.nav a {
  margin: 20px;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s;
}

.nav-indicator {
  position: fixed;
  left: 10px;
  width: 64px;
  height: 40px;
  background: #ffffff13;
  box-shadow: inset 2px 2px 4px 0px rgba(255, 255, 255, 0.308);
  border-radius: 7px;
  z-index: -2;
  /* &:hover {
    box-shadow: inset 0px 0px 10px white;
  } */
}
